     <footer class="bg-success text-white py-4 mt-5 position-absolute bottom-0 start-0 end-0">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-3">
                    <h2>Redes sociais</h2>
                    <ul class="list-inline d-flex justify-content-center gap-4">
                        <li class="list-inline-item">
                            <a class="text-white text-decoration-none" href="https://github.com/JP-Pardinho" target="_blank">
                                <i class="bi bi-github fs-4"></i>
                                <span class="d-none d-sm-inline">GitHub</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-white text-decoration-none" href="https://www.instagram.com/jp.pardinho/" target="_blank">
                                <i class="bi bi-instagram fs-4"></i>
                                <span class="d-none d-sm-inline">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-white text-decoration-none" href="https://www.linkedin.com/in/jppardinho/" target="_blank">
                                <i class="bi bi-linkedin fs-4"></i>
                                <span class="d-none d-sm-inline">LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-12">
                    <p>Site criado por <a href="https://github.com/JP-Pardinho" target="_blank"
                            class="text-white">JP-Pardinho</a> para o curso MS-Code.</p>
                    <p>©2025 Projeto Estoque. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
 
